-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"
.member-information_input
  .member-information_header
    .member-information_header__logo
      = link_to image_tag( 'logo (1).svg')
    .userRegist-complete-progress-bar
      .userRegist-complete-progress-bar__text
        .userRegist-complete-progress-bar__text__member-info
          %p会員情報
        .userRegist-complete-progress-bar__text__phone-confirmation
          %p電話番号認証
        .userRegist-complete-progress-bar__text__adress
          %pお届け先住所入力
        .userRegist-complete-progress-bar__text__payment
          %p支払い方法
        .userRegist-complete-progress-bar__text__complete
          %p完了
      .userRegist-complete-progress-bar__lines
        .userRegist-complete-progress-bar__lines__member-info
        .userRegist-complete-progress-bar__lines__member-info-to-phone
        .userRegist-complete-progress-bar__lines__phone-confirmation
        .userRegist-complete-progress-bar__lines__phone-confirmation-to-adress
        .userRegist-complete-progress-bar__lines__adress
        .userRegist-complete-progress-bar__lines__adress-to-payment
        .userRegist-complete-progress-bar__lines__payment
        .userRegist-complete-progress-bar__lines__payment-to-complete
        .userRegist-complete-progress-bar__lines__complete

  .member-information_input-entire
    .member-information_input-title
      会員情報入力
    = form_with(model: @user, local: true, class: 'member-information_input-form') do |form|
      .member-information-input_contents
        .member-information-input_contents__nickname
          .member-information-input_contents__nickname__form
            .member-information-input_contents__nickname__form__text
              ニックネーム
            .member-information-input_contents__nickname__form__required
              必須
          = form.text_field :nickname, placeholder:"ニックネーム", class: "member-information-input_contents__nickname__input-form"

        .member-information-input_contents__email
          .member-information-input_contents__email__form
            .member-information-input_contents__email__form__text
              メールアドレス
            .member-information-input_contents__email__form__required
              必須
          = form.text_field :email, placeholder:"PC・携帯どちらでも可", class: "member-information-input_contents__email__input-form"


        .member-information-input_contents__password
          .member-information-input_contents__password__form
            .member-information-input_contents__password__form__text
              パスワード
            .member-information-input_contents__password__form__required
              必須
          = form.text_field :password, placeholder:"7文字以上", autocomplete: "new-password", class: "member-information-input_contents__password__input-form"

        .member-information-input_contents__password-again
          .member-information-input_contents__password-again__form
            .member-information-input_contents__password-again__form__text
              パスワード(確認)
            .member-information-input_contents__password-again__form__required
              必須
          = form.text_field :password_confirmation, placeholder:"7文字以上",autocomplete: "new-password", class: "member-information-input_contents__password-again__input-form"

        .member-information_identification
          .member-information_identification__title
            本人確認
          .member-information_identification__text
            安心・安全にご利用いただくために、お客様の本人
            %p 情報の登録にご協力ください。他のお客様に公開さ
            %p れることはありません。

        = form.fields_for :user_detail do |f|
          .member-information-name
            .member-information-name__text
              .member-information-name__text__name
                お名前(全角)
              .member-information-name__text__required
                必須
            .member-information-name__form
              = f.text_field :first_name, placeholder:"例)山田", class: "member-information-name__form__last-name"
              = f.text_field :last_name, placeholder:"例)彩", class: "member-information-name__form__name"

          .member-information-namekatakana
            .member-information-namekatakana__text
              .member-information-namekatakana__text__name
                お名前カナ(全角)
              .member-information-namekatakana__text__reqired
                必須
            .member-information-namekatakana__form
              = f.text_field :first_name_kata,placeholder:"例)ヤマダ", class: "member-information-namekatakana__form__last-name"
              = f.text_field :last_name_kata ,placeholder:"例)アヤ", class: "member-information-namekatakana__form__name"

          .member-information-birthday
            .member-information-birthday__text
              .member-information-birthday__text__title
                生年月日
              .member-information-birthday__text__required
                必須
            .member-information-birthday__form
              != sprintf(f.date_select(:birthday, prefix:'birthday', with_css_classes:'', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
              = fa_icon 'angle-down', class: 'member-information-birthday__form--year-angle'
              = fa_icon 'angle-down', class: 'member-information-birthday__form--month-angle'
              = fa_icon 'angle-down', class: 'member-information-birthday__form--day-angle'

        .member-information-caution
          ＊本人情報は正しく入力してください。会員登録後、
          %p 修正するにはお時間をいただく場合があります。

        .member-information-other
          .member-information-other__recaptcha
            = recaptcha_tags
          .member-information-other__terms
            「次へ進む」のボタンを押すことにより、
            = link_to  '', class: 'member-information-other__terms__btn' do
              利用規約
            %p に同意したものとみなします。
          = form.submit '次へ進む', class: "member-information-other__nextbtn"
          = link_to  '', class: 'member-information-other__about-personal-information' do
            本人情報の登録について
            = fa_icon 'angle-right'
  = render 'shared/copywrite-bottom'