
= render 'shared/header'
.mypage-contents
  = render 'shared/sidemenu'
  .mypage-main
    .mypage-logout
      %form.mypage-logout__form
        .mypage-logout__form__btn
          = link_to destroy_user_session_path, method: "delete" do
            %button.mypage-logout__form__btn--logout
              ログアウト
= render 'shared/buy'
= render 'shared/footer'