.footer
  - unless %w[users logout_users profile_users profilechange_users cards].any? { |name| current_page?(send("#{name}_path")) }
    = render 'shared/breadcrumbs'
  .footer__ad
    = lazy_image_tag "mercari-ad.png"
  .footer__box
    .footer__box__top
      .footer__box__top__mercari
        .footer__box__top__mercari__title
          メルカリについて
        .footer__box__top__mercari__text
          %p会社概要 &nbsp(運営会社)
          %p採用情報
          %pプレスリリース
          %p公式ブログ
          %pメルカリロゴ利用ガイドライン
        .footer__box__top__mercari__icon
          .footer__box__top__mercari__icon__twitter
            = lazy_image_tag "twitter-icon.png"
          .footer__box__top__mercari__icon__facebook
            = lazy_image_tag "facebook-icon.png"
      .footer__box__top__help
        .footer__box__top__help__title
          ヘルプ&ガイド
        .footer__box__top__help__text
          %pメルカリガイド
          %pらくらくメルカリ便
          %pゆうゆうメルカリ便
          %p大型メルカリ便
          %p車体取引ガイド
          %pメルカリあんしん・あんぜん宣言 !
          %p偽ブランド品撲滅への取り組み
          %pメルカリボックス
      .footer__box__top__privacy1
        .footer__box__top__privacy1__title
          プライバシーと利用規約
        .footer__box__top__privacy1__text
          %pプライバシーポリシー
          %pメルカリ利用規約
          %pあんしんスマホサポート制度に関
          する利用特約
          %pコンプライアンスポリシー
      .footer__box__top__privacy2
        .footer__box__top__privacy2__text
          %p個人データの安全管理に係る基本
          方針
          %p特定商取引に関する表記
          %p資金決済法に基づく表示
          %p法令順守と犯罪抑止のために
      .footer__box__top__country
        .footer__box__top__country__title
          国
        .footer__box__top__country__text
          %p日本
          %p United States
    .footer__box__bottom
      = lazy_image_tag "mercari-logo-black.png"
      .footer__box__bottom__text
        .footer__box__bottom__text__icon
          ©
        .footer__box__bottom__text__main
          2019 Mercari