.header
 .header__title
  .header__title__logo
  .header__title__search
   何かお探しですか ?
   = icon 'fa', "search"
 .header__menu
  .header__menu__left
   .header__menu__left__category
    = icon 'fa', "list"
    カテゴリーから探す
   .header__menu__left__brand
    .header__menu__left__brand__icon
    .header__menu__left__brand__tag
     ブランドから探す
  .header__menu__right
   .header__menu__right__like
    = icon 'fa', "heart"
    いいね ! 一覧
   .header__menu__right__news
    = icon 'far', "bell"
    お知らせ
   .header__menu__right__todo 
    = icon 'fa', "check"
    やることリスト
   .header__menu__right__mypage
    .header__menu__right__mypage__icon
    .header__menu__right__mypage__tag
     マイページ
   