.header
  .header__title
    = link_to root_path do
      .header__title__logo
    .header__title__search
      何かお探しですか ?
      = fa_icon "search"
  .header__menu
    .header__menu__left
      .header__menu__left__category
        = fa_icon "list"
        %span カテゴリーから探す
      .header__menu__left__brand
        .header__menu__left__brand__icon
          = image_tag "brand-tag.png"
        .header__menu__left__brand__tag
          %span ブランドから探す
    .header__menu__right
      - unless user_signed_in?
        .header__menu__right__signup
          = link_to registrationNewmenbar_users_path, class: 'header__menu__right__signup--btn' do
            新規会員登録
        .header__menu__right__login
          = link_to login_users_path, class: 'header__menu__right__login--btn' do
            ログイン
      - else
        = link_to root_path do
          .header__menu__right__like
            = fa_icon "heart"
            いいね ! 一覧
        = link_to root_path do
          .header__menu__right__news
            = fa_icon "bell"
            お知らせ
        = link_to root_path do
          .header__menu__right__todo
            = fa_icon "check"
            やることリスト
        = link_to users_path do
          .header__menu__right__mypage
            .header__menu__right__mypage__icon
            .header__menu__right__mypage__tag
              %span マイページ
