.header
 .header__title
  .header__title__logo
  .header__title__search
   何かお探しですか ?
   = fa_icon "search"
 .header__menu
  .header__menu__left
   .header__menu__left__category
    = fa_icon "list"
    カテゴリーから探す
   .header__menu__left__brand
    .header__menu__left__brand__icon
    .header__menu__left__brand__tag
     ブランドから探す
  .header__menu__right
   .header__menu__right__like
    = fa_icon "heart"
    いいね ! 一覧
   .header__menu__right__news
    = fa_icon "bell"
    お知らせ
   .header__menu__right__todo 
    = fa_icon "check"
    やることリスト
   .header__menu__right__mypage
    .header__menu__right__mypage__icon
    .header__menu__right__mypage__tag
     マイページ
   