.side-contents
  .mypage-menu-lists
    %ul.mypage-menu-list
      %li
        = link_to users_path, class: "mypage-menu-list__line" do
          %span マイページ
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span お知らせ
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span やることリスト
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span いいね！一覧
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to new_product_path, class: "mypage-menu-list__line" do
          %span 出品する
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to user_saling_products_path(current_user.id), class: "mypage-menu-list__line" do
          %span 出品した商品 - 出品中
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span 出品した商品 - 取引中
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to user_soldout_products_path(current_user.id), class: "mypage-menu-list__line" do
          %span 出品した商品 - 売却済
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span 購入した商品 - 取引中
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span 購入した商品 - 過去の取引
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span ニュース一覧
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span 評価一覧
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span ガイド
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span お問い合わせ
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
    %h3.merpay-title
      Fペイ
    %ul.mypage-menu-list
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span 売り上げ・振り込み申請
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span ポイント
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
    %h3.setting-title
      設定
    %ul.mypage-menu-list
      %li
        = link_to profile_users_path, class: "mypage-menu-list__line" do
          %span プロフィール
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span 発送元・お届け先住所変更
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to cards_path, class: "mypage-menu-list__line" do
          %span 支払い方法
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span メール/パスワード
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to profilechange_users_path, class: "mypage-menu-list__line" do
          %span 本人情報
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          %span 電話番号の確認
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"
      %li
        = link_to logout_users_path, class: "mypage-menu-list__line" do
          %span ログアウト
          .mypage-menu-list__line--arrow
            = fa_icon "chevron-right"