.side-contents
  .mypage-menu-lists
    %ul.mypage-menu-list
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          マイページ
          .mypage-menu-list__line--arrow
            = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          お知らせ
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          やることリスト
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          いいね！一覧
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          出品する
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          出品した商品 - 出品中
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          出品した商品 - 取引中
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          出品した商品 - 売却済
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          購入した商品 - 取引中
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          購入した商品 - 過去の取引
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          ニュース一覧
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          評価一覧
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          ガイド
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          お問い合わせ
          = icon('fas', 'chevron-right')
    %h3.merpay-title
      メルペイ
    %ul.mypage-menu-list
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          売り上げ・振り込み申請
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          ポイント
          = icon('fas', 'chevron-right')
    %h3.setting-title
      設定
    %ul.mypage-menu-list
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          プロフィール
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          発送元・お届け先住所変更
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          支払い方法
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          メール/パスワード
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          本人情報
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line" do
          電話番号の確認
          = icon('fas', 'chevron-right')
      %li
        = link_to root_path, class: "mypage-menu-list__line", id: "active" do
          ログアウト
          = icon('fas', 'chevron-right')
