= render 'shared/logo-onlyheader'
.buyComplete-content
  .buyComplete-content__maincontent
    .buyComplete-content__maincontent__top
      %h2購入内容の確認
    .buyComplete-content__maincontent__content-boxs
      .buyComplete-content__maincontent__content-boxs__content-inner
        .buyComplete-content__maincontent__content-boxs__content-inner__image-title
          .buyComplete-content__maincontent__content-boxs__content-inner__image-title__image
            = image_tag url_for(@product.images[0]), size:'64x64'
          .buyComplete-content__maincontent__content-boxs__content-inner__image-title__title
            = @product.name
        .buyComplete-content__maincontent__content-boxs__content-inner__price
          .buyComplete-content__maincontent__content-boxs__content-inner__price__integer
            %p
              = number_to_currency(@product.price)
          .buyComplete-content__maincontent__content-boxs__content-inner__price__string
            %span送料込み
        .buyComplete-content__maincontent__content-boxs__content-inner__point
          .buyComplete-content__maincontent__content-boxs__content-inner__point__text
            %pポイントを使う
          .buyComplete-content__maincontent__content-boxs__content-inner__point__icon
            = fa_icon 'angle-down'
        .buyComplete-content__maincontent__content-boxs__content-inner__payment
          .buyComplete-content__maincontent__content-boxs__content-inner__payment__text
            %p支払い金額
          .buyComplete-content__maincontent__content-boxs__content-inner__payment__price
            %p
              = number_to_currency(@product.price)
        - if @card.present?
          = link_to product_buys_path, method: :POST, id: 'item-regist-btn',class:"buyComplete-content__maincontent__content-boxs__content-inner__btn" do
            %button.buyComplete-content__maincontent__content-boxs__content-inner__btn__buy#modal-open-btn 購入する
        - else
          .buyComplete-content__maincontent__content-boxs__content-inner__btn__no-card
            配送先と支払い方法の入力を完了してください。
            %button.buyComplete-content__maincontent__content-boxs__content-inner__btn__no-card__buy 購入する
        #overlay
          #modalWindow
            .modal-message-box
              %div 購入が完了しました
            = link_to product_path(@product.id), class: "modal-close-link" do
              %button.modal-close-btn 確認
    .buyComplete-content__maincontent__adress
      .buyComplete-content__maincontent__adress__inner
        .buyComplete-content__maincontent__adress__inner__boxs
          .buyComplete-content__maincontent__adress__inner__boxs__text
            %p配送先
          .buyComplete-content__maincontent__adress__inner__boxs__ditail
            .buyComplete-content__maincontent__adress__inner__boxs__ditail__text
              %p
                = "〒#{@address.postal_code}"
              %p
                = @user_address
              %p
                = @name
          .buyComplete-content__maincontent__adress__inner__boxs__change
            = link_to root_path do
              %span 変更する
              = fa_icon 'angle-right'
    .buyComplete-content__maincontent__payment
      .buyComplete-content__maincontent__payment__inner
        .buyComplete-content__maincontent__payment__inner__boxs
          .buyComplete-content__maincontent__payment__inner__boxs__text
            %p支払い方法
          .buyComplete-content__maincontent__payment__inner__boxs__cardinfo
            - if @card.present?
              .card-data-delete__information__box__card-companys
                .card-data-delete__information__box__card-companys__box
                  .card-data-delete__information__box__card-companys__box__card-company
                    = image_tag "#{@card_src}", id: "card-data-delete__information__box__card-companys__box__card-company__icon", class: "card-data-delete__information__box__card-companys__box__card-company__icon"
                .card-data-delete__information__box__card-companys__card-number
                  = "************" + @card_information.last4
                .card-data-delete__information__box__card-companys__card-yearmonth
                  = @exp_data
            - else
              %p /
            .buyComplete-content__maincontent__payment__inner__boxs__cardinfo__change
              - if @card.present?
                = link_to card_data_display_cards_path , class: "change" do
                  %span 変更する
                  = fa_icon 'angle-right'
              - else
                = link_to card_data_buy_cards_path(id: @product.id) , class: "change" do
                  %span 変更する
                  = fa_icon 'angle-right'
= render 'shared/copywrite-bottom'