= render 'shared/header'
.mypage-contents
  = render 'shared/sidemenu'
  .mypage-main
    .card-data-delete
      .card-data-delete__top
        支払い方法
      .card-data-delete__information
        .card-data-delete__information__box
          .card-data-delete__information__box__card-ichiran
            クレジットカード一覧
          - if @card.present?
            .card-data-delete__information__box__card-companys
              = form_with(url: card_path(@card.id), method: :delete, local: true, id: 'charge-form') do |f|
                .card-data-delete__information__box__card-companys__box
                  .card-data-delete__information__box__card-companys__box__card-company
                    = image_tag "#{@card_src}", id: "card-data-delete__information__box__card-companys__box__card-company__icon--visa", class: "card-data-delete__information__box__card-companys__box__card-company__icon--visa", size: "49x20"
                  = f.submit "削除する", class: "card-data-delete__information__box__card-companys__box__card-delete-button"
                .card-data-delete__information__box__card-companys__card-number
                  = "************" + @card_information.last4
                .card-data-delete__information__box__card-companys__card-yearmonth
                  = @exp_data
          - else
            = render "shared/add_card"
        .card-data-delete__information__box-payment
          .card-data-delete__information__box-payment__payment-link
            支払い方法について
            = fa_icon 'angle-right'
= render 'shared/footer'
= render 'shared/buy'