= render "shared/header"
.content
  .content__slide-banner.owl-carousel
    = link_to "", root_path, class: "content__slide-banner__link content__slide-banner__link--toppage-image"
    = link_to "", root_path, class: "content__slide-banner__link content__slide-banner__link--camp"
    = link_to "", root_path, class: "content__slide-banner__link content__slide-banner__link--cm"
  .content__title1
    .content__title1__name
      すべての商品一覧
    .content__title1__category
  .content__main1
    .content__main1__category1
      .content__main1__category1__title
        新着アイテム1
      .content__main1__category1__next
        .content__main1__category1__next__text
          もっと見る
        .content__main1__category1__next__icon
          = fa_icon "angle-right"
      .content__main1__category1__box
        .content__main1__category1__box__grid
          - @products.each do |product|
            = link_to product_path(product.id) do
              .content__main1__category1__box__grid__item1
                .content__main1__category1__box__grid__item1__image
                  = lazy_image_tag "test_product.jpg"
                  .content__main1__category1__box__grid__item1__image__price
                    %span=number_to_currency(product.price)
                .content__main1__category1__box__grid__item1__name
                  =product.name
                  .content__main1__category1__box__grid__item1__name__opacity
= render "shared/footer"
= render "shared/buy"
