= render 'shared/header'
.detail-contents
  .product-details
    .product-details__name
      %h1
        = @product.name
    .product-detail
      .product-photo
        .product-photo__carousel
          .product-photo__carousel__stage-outer
            .product-photo__carousel__stage-outer__stage
              .product-photo__carousel__stage-outer__stage__image#active
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
              .product-photo__carousel__stage-outer__stage__image
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
              .product-photo__carousel__stage-outer__stage__image
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
              .product-photo__carousel__stage-outer__stage__image
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
              .product-photo__carousel__stage-outer__stage__image#active
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
              .product-photo__carousel__stage-outer__stage__image
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
              .product-photo__carousel__stage-outer__stage__image
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
              .product-photo__carousel__stage-outer__stage__image
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
              .product-photo__carousel__stage-outer__stage__image
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
              .product-photo__carousel__stage-outer__stage__image
                .product-photo__carousel__stage-outer__stage__image__inner
                  = image_tag "test_product.jpg",class: "product-photo__carousel__stage-outer__stage__image__inner__lazy"
        .product-photo__nav
          .product-photo__nav__prev
            prev
          .product-photo__nav__next
            next
        .product-photo__dots
          .product-photo__dots__dot#active
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
          .product-photo__dots__dot
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
          .product-photo__dots__dot
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
          .product-photo__dots__dot
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
          .product-photo__dots__dot
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
          .product-photo__dots__dot
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
          .product-photo__dots__dot
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
          .product-photo__dots__dot
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
          .product-photo__dots__dot
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
          .product-photo__dots__dot
            %span
            .product-photo__dots__dot__inner
              = image_tag "test_product.jpg"
      %table.product-detail__table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to root_path do
                = @product.buyer.nickname
              .table-user-ratings
                .table-user-ratings__rating
                  = fa_icon 'laugh', class: "table-user-ratings__rating--good"
                  %span 100
                .table-user-ratings__rating
                  = fa_icon 'meh', class: "table-user-ratings__rating--nomal"
                  %span 50
                .table-user-ratings__rating
                  = fa_icon 'frown', class: "table-user-ratings__rating--bad"
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to root_path, class: "table-category" do
                メンズ
              = link_to root_path, class: "table-category" do
                = fa_icon 'chevron-right'
                ジャケット/アウター
              = link_to root_path, class: "table-category" do
                = fa_icon 'chevron-right'
                ダウンジャケット
          %tr
            %th ブランド
            %td
              = link_to root_path do
                ウール リッチ
          %tr
            %th 商品のサイズ
            %td
              M
          %tr
            %th 商品の状態
            %td
              目立った傷や汚れなし
          %tr
            %th 配送料の負担
            %td
              送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td
              らくらくメルカリ便
          %tr
            %th 発送元地域
            %td
              = link_to root_path do
                東京
          %tr
            %th 発送日の目安
            %td
              2~3日で発送
    .price-box
      %span.price-box--price
        = number_to_currency(@product.price)
      %span.price-box--tax (税込)
      %span.price-box--shipping-free 送料込み
    = link_to new_product_buy_path(@product.id), class: "product-details__buy-btn" do
      購入画面に進む
    .product-details__description
      %P
        = simple_format(@product.description)
    .product-details__buttons
      .product-details__buttons__left
        %button{type: 'button', class: 'product-details__buttons__left__like'}
          = fa_icon 'heart', class: 'product-details__buttons__left__like--heart'
          %span いいね！
          %span.product-details__buttons__left__like__count
            100
        = link_to root_path, class: 'product-details__buttons__left__report' do
          = fa_icon 'flag', class: 'product-details_buttons__left__report--flag'
          %span 不適切な商品の報告
      .product-details__buttons__right
        = link_to root_path, class: 'product-details__buttons__right__safety-effort' do
          = fa_icon 'lock'
          %span あんしん・あんぜんへの取り組み
  .product-messages
    .product-messages__form
      %p
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea{type: 'text', class: 'product-messages__form__textarea'}
      %button{type: 'submit', class: 'product-messages__form__submit-btn'}
        %span コメントする
  .links-prev-next
    .links-prev-next__prev
      - if @previous
        = link_to product_path(@previous.id) do
          = fa_icon 'chevron-left'
          %span
            = @previous.name
    .links-prev-next__next
      - if @next
        = link_to product_path(@next.id) do
          %span
            = @next.name
          = fa_icon 'chevron-right'
  .social-medias
    .social-medias__icons
      = link_to root_path, class: 'social-medias__icons__icon' do
        .social-medias__icons__icon--facebook
          %i{class: 'fab fa-facebook-square'}
      = link_to root_path, class: 'social-medias__icons__icon' do
        .social-medias__icons__icon--twitter
          %i{class: 'fab fa-twitter-square'}
      = link_to root_path, class: 'social-medias__icons__icon' do
        .social-medias__icons__icon--line
          %i{class: 'fab fa-line'}
      = link_to root_path, class: 'social-medias__icons__icon' do
        .social-medias__icons__icon--pinterest
          %i{class: 'fab fa-pinterest-square'}
  .other-products
    %h2.other-products__username
      出品者 さんのその他の出品
    .other-products__box
      - @buyer_products.each do |buyer_product|
        .other-products__box__product
          = link_to product_path(buyer_product.id) do
            =image_tag 'test_product.jpg', class: 'other-products__box__product__image'
            .other-products__box__product__index
              .other-products__box__product__index__name
                = buyer_product.name
              .other-products__box__product__index__price-like
                .other-products__box__product__index__price-like__price
                  = number_to_currency(buyer_product.price)
                .other-products__box__product__index__price-like__like
                  = fa_icon 'heart'
                  %span 15
    %h2.other-products__brand
      ウール リッチのダウンジャケット その他の商品
    .other-products__box
      .other-products__box__product
        = link_to root_path do
          =image_tag 'test_product.jpg', class: 'other-products__box__product__image'
          .other-products__box__product__index
            .other-products__box__product__index__name
              他の商品名
            .other-products__box__product__index__price-like
              .other-products__box__product__index__price-like__price
                ¥15,000
              .other-products__box__product__index__price-like__like
                = fa_icon 'heart'
                %span 15
      .other-products__box__product
        = link_to root_path do
          =image_tag 'test_product.jpg', class: 'other-products__box__product__image'
          .other-products__box__product__index
            .other-products__box__product__index__name
              他の商品名
            .other-products__box__product__index__price-like
              .other-products__box__product__index__price-like__price
                ¥15,000
              .other-products__box__product__index__price-like__like
                = fa_icon 'heart'
                %span 15
      .other-products__box__product
        = link_to root_path do
          =image_tag 'test_product.jpg', class: 'other-products__box__product__image'
          .other-products__box__product__index
            .other-products__box__product__index__name
              他の商品名
            .other-products__box__product__index__price-like
              .other-products__box__product__index__price-like__price
                ¥15,000
              .other-products__box__product__index__price-like__like
                = fa_icon 'heart'
                %span 15
      .other-products__box__product
        = link_to root_path do
          =image_tag 'test_product.jpg', class: 'other-products__box__product__image'
          .other-products__box__product__index
            .other-products__box__product__index__name
              他の商品名
            .other-products__box__product__index__price-like
              .other-products__box__product__index__price-like__price
                ¥15,000
              .other-products__box__product__index__price-like__like
                = fa_icon 'heart'
                %span 15
      .other-products__box__product
        = link_to root_path do
          =image_tag 'test_product.jpg', class: 'other-products__box__product__image'
          .other-products__box__product__index
            .other-products__box__product__index__name
              他の商品名
            .other-products__box__product__index__price-like
              .other-products__box__product__index__price-like__price
                ¥15,000
              .other-products__box__product__index__price-like__like
                = fa_icon 'heart'
                %span 15
      .other-products__box__product
        = link_to root_path do
          =image_tag 'test_product.jpg', class: 'other-products__box__product__image'
          .other-products__box__product__index
            .other-products__box__product__index__name
              他の商品名
            .other-products__box__product__index__price-like
              .other-products__box__product__index__price-like__price
                ¥15,000
              .other-products__box__product__index__price-like__like
                = fa_icon 'heart'
                %span 15
%ul.nav-crumb-list
  %li{itemscope: "", itemtype: "”http://data-vocabulary.org/Breadcrumb”"}
    = link_to root_path, class: 'nav-product__toppage', itemprop: "url" do
      %span メルカリ
      = fa_icon 'chevron-right'
  %li{itemscope: "", itemtype: "”http://data-vocabulary.org/Breadcrumb”"}
    %span{itemprop: "title"}
      商品名
= render 'shared/footer'