.content
  .content__top
  .content__title1
    .content__title1__name
      -# 人気のカテゴリー
      すべての商品一覧
    .content__title1__category
      -# .content__title1__category__rank1
      -#   レディース
      -# .content__title1__category__rank2
      -#   メンズ
      -# .content__title1__category__rank3
      -#   家電・スマホ・カメラ
      -# .content__title1__category__rank4
      -#   おもちゃ・ホビー・グッズ
  .content__main1
    .content__main1__category1
      .content__main1__category1__title
        新着アイテム1
      .content__main1__category1__next
        .content__main1__category1__next__text
          もっと見る 
        .content__main1__category1__next__icon
          = fa_icon "angle-right"
      .content__main1__category1__box
        .content__main1__category1__box__item1
          .content__main1__category1__box__item1__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item1__image__price
              ¥2,100
          .content__main1__category1__box__item1__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item1__name__opacity
        .content__main1__category1__box__item2
          .content__main1__category1__box__item2__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item2__image__price
              ¥2,100
          .content__main1__category1__box__item2__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item2__name__opacity
        .content__main1__category1__box__item3
          .content__main1__category1__box__item3__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item3__image__price
              ¥2,100
          .content__main1__category1__box__item3__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item3__name__opacity
        .content__main1__category1__box__item4
          .content__main1__category1__box__item4__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item4__image__price
              ¥2,100
          .content__main1__category1__box__item4__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item4__name__opacity
        .content__main1__category1__box__item5
          .content__main1__category1__box__item5__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item5__image__price
              ¥2,100
          .content__main1__category1__box__item5__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item5__name__opacity
        .content__main1__category1__box__item6
          .content__main1__category1__box__item6__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item6__image__price
              ¥2,100
          .content__main1__category1__box__item6__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item6__name__opacity
        .content__main1__category1__box__item7
          .content__main1__category1__box__item7__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item7__image__price
              ¥2,100
          .content__main1__category1__box__item7__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item7__name__opacity
        .content__main1__category1__box__item8
          .content__main1__category1__box__item8__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item8__image__price
              ¥2,100
          .content__main1__category1__box__item8__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item8__name__opacity
        .content__main1__category1__box__item9
          .content__main1__category1__box__item9__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item9__image__price
              ¥2,100
          .content__main1__category1__box__item9__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item9__name__opacity
        .content__main1__category1__box__item10
          .content__main1__category1__box__item10__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category1__box__item10__image__price
              ¥2,100
          .content__main1__category1__box__item10__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category1__box__item10__name__opacity
    .content__main1__category2
      .content__main1__category2__title
        新着アイテム2
      .content__main1__category2__next
        .content__main1__category2__next__text
          もっと見る 
        .content__main1__category2__next__icon
          = fa_icon "angle-right"
      .content__main1__category2__box
        .content__main1__category2__box__item1
          .content__main1__category2__box__item1__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item1__image__price
              ¥2,100
          .content__main1__category2__box__item1__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item1__name__opacity
        .content__main1__category2__box__item2
          .content__main1__category2__box__item2__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item2__image__price
              ¥2,100
          .content__main1__category2__box__item2__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item2__name__opacity
        .content__main1__category2__box__item3
          .content__main1__category2__box__item3__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item3__image__price
              ¥2,100
          .content__main1__category2__box__item3__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item3__name__opacity
        .content__main1__category2__box__item4
          .content__main1__category2__box__item4__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item4__image__price
              ¥2,100
          .content__main1__category2__box__item4__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item4__name__opacity
        .content__main1__category2__box__item5
          .content__main1__category2__box__item5__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item5__image__price
              ¥2,100
          .content__main1__category2__box__item5__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item5__name__opacity
        .content__main1__category2__box__item6
          .content__main1__category2__box__item6__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item6__image__price
              ¥2,100
          .content__main1__category2__box__item6__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item6__name__opacity
        .content__main1__category2__box__item7
          .content__main1__category2__box__item7__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item7__image__price
              ¥2,100
          .content__main1__category2__box__item7__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item7__name__opacity
        .content__main1__category2__box__item8
          .content__main1__category2__box__item8__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item8__image__price
              ¥2,100
          .content__main1__category2__box__item8__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item8__name__opacity
        .content__main1__category2__box__item9
          .content__main1__category2__box__item9__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item9__image__price
              ¥2,100
          .content__main1__category2__box__item9__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item9__name__opacity
        .content__main1__category2__box__item10
          .content__main1__category2__box__item10__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category2__box__item10__image__price
              ¥2,100
          .content__main1__category2__box__item10__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category2__box__item10__name__opacity
    .content__main1__category3
      .content__main1__category3__title
        新着アイテム3
      .content__main1__category3__next
        .content__main1__category3__next__text
          もっと見る 
        .content__main1__category3__next__icon
          = fa_icon "angle-right"
      .content__main1__category3__box
        .content__main1__category3__box__item1
          .content__main1__category3__box__item1__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item1__image__price
              ¥2,100
          .content__main1__category3__box__item1__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item1__name__opacity
        .content__main1__category3__box__item2
          .content__main1__category3__box__item2__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item2__image__price
              ¥2,100
          .content__main1__category3__box__item2__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item2__name__opacity
        .content__main1__category3__box__item3
          .content__main1__category3__box__item3__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item3__image__price
              ¥2,100
          .content__main1__category3__box__item3__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item3__name__opacity
        .content__main1__category3__box__item4
          .content__main1__category3__box__item4__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item4__image__price
              ¥2,100
          .content__main1__category3__box__item4__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item4__name__opacity
        .content__main1__category3__box__item5
          .content__main1__category3__box__item5__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item5__image__price
              ¥2,100
          .content__main1__category3__box__item5__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item5__name__opacity
        .content__main1__category3__box__item6
          .content__main1__category3__box__item6__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item6__image__price
              ¥2,100
          .content__main1__category3__box__item6__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item6__name__opacity
        .content__main1__category3__box__item7
          .content__main1__category3__box__item7__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item7__image__price
              ¥2,100
          .content__main1__category3__box__item7__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item7__name__opacity
        .content__main1__category3__box__item8
          .content__main1__category3__box__item8__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item8__image__price
              ¥2,100
          .content__main1__category3__box__item8__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item8__name__opacity
        .content__main1__category3__box__item9
          .content__main1__category3__box__item9__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item9__image__price
              ¥2,100
          .content__main1__category3__box__item9__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item9__name__opacity
        .content__main1__category3__box__item10
          .content__main1__category3__box__item10__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category3__box__item10__image__price
              ¥2,100
          .content__main1__category3__box__item10__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category3__box__item10__name__opacity
    .content__main1__category4
      .content__main1__category4__title
        新着アイテム4
      .content__main1__category4__next
        .content__main1__category4__next__text
          もっと見る 
        .content__main1__category4__next__icon
          = fa_icon "angle-right"
      .content__main1__category4__box
        .content__main1__category4__box__item1
          .content__main1__category4__box__item1__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item1__image__price
              ¥2,100
          .content__main1__category4__box__item1__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item1__name__opacity
        .content__main1__category4__box__item2
          .content__main1__category4__box__item2__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item2__image__price
              ¥2,100
          .content__main1__category4__box__item2__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item2__name__opacity
        .content__main1__category4__box__item3
          .content__main1__category4__box__item3__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item3__image__price
              ¥2,100
          .content__main1__category4__box__item3__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item3__name__opacity
        .content__main1__category4__box__item4
          .content__main1__category4__box__item4__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item4__image__price
              ¥2,100
          .content__main1__category4__box__item4__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item4__name__opacity
        .content__main1__category4__box__item5
          .content__main1__category4__box__item5__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item5__image__price
              ¥2,100
          .content__main1__category4__box__item5__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item5__name__opacity
        .content__main1__category4__box__item6
          .content__main1__category4__box__item6__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item6__image__price
              ¥2,100
          .content__main1__category4__box__item6__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item6__name__opacity
        .content__main1__category4__box__item7
          .content__main1__category4__box__item7__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item7__image__price
              ¥2,100
          .content__main1__category4__box__item7__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item7__name__opacity
        .content__main1__category4__box__item8
          .content__main1__category4__box__item8__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item8__image__price
              ¥2,100
          .content__main1__category4__box__item8__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item8__name__opacity
        .content__main1__category4__box__item9
          .content__main1__category4__box__item9__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item9__image__price
              ¥2,100
          .content__main1__category4__box__item9__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item9__name__opacity
        .content__main1__category4__box__item10
          .content__main1__category4__box__item10__image
            %img{src: "assets/item-interim.jpg"}
            .content__main1__category4__box__item10__image__price
              ¥2,100
          .content__main1__category4__box__item10__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main1__category4__box__item10__name__opacity
  .content__title2
    .content__title2__name
      -# 人気のカテゴリー
      すべての商品一覧2
    .content__title2__category
      -# .content__title1__category__rank1
      -#   レディース
      -# .content__title1__category__rank2
      -#   メンズ
      -# .content__title1__category__rank3
      -#   家電・スマホ・カメラ
      -# .content__title1__category__rank4
      -#   おもちゃ・ホビー・グッズ
  .content__main2
    .content__main2__category1
      .content__main2__category1__title
        新着アイテム1.2
      .content__main2__category1__next
        .content__main2__category1__next__text
          もっと見る 
        .content__main2__category1__next__icon
          = fa_icon "angle-right"
      .content__main2__category1__box
        .content__main2__category1__box__item1
          .content__main2__category1__box__item1__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item1__image__price
              ¥2,100
          .content__main2__category1__box__item1__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item1__name__opacity
        .content__main2__category1__box__item2
          .content__main2__category1__box__item2__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item2__image__price
              ¥2,100
          .content__main2__category1__box__item2__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item2__name__opacity
        .content__main2__category1__box__item3
          .content__main2__category1__box__item3__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item3__image__price
              ¥2,100
          .content__main2__category1__box__item3__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item3__name__opacity
        .content__main2__category1__box__item4
          .content__main2__category1__box__item4__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item4__image__price
              ¥2,100
          .content__main2__category1__box__item4__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item4__name__opacity
        .content__main2__category1__box__item5
          .content__main2__category1__box__item5__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item5__image__price
              ¥2,100
          .content__main2__category1__box__item5__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item5__name__opacity
        .content__main2__category1__box__item6
          .content__main2__category1__box__item6__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item6__image__price
              ¥2,100
          .content__main2__category1__box__item6__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item6__name__opacity
        .content__main2__category1__box__item7
          .content__main2__category1__box__item7__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item7__image__price
              ¥2,100
          .content__main2__category1__box__item7__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item7__name__opacity
        .content__main2__category1__box__item8
          .content__main2__category1__box__item8__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item8__image__price
              ¥2,100
          .content__main2__category1__box__item8__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item8__name__opacity
        .content__main2__category1__box__item9
          .content__main2__category1__box__item9__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item9__image__price
              ¥2,100
          .content__main2__category1__box__item9__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item9__name__opacity
        .content__main2__category1__box__item10
          .content__main2__category1__box__item10__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category1__box__item10__image__price
              ¥2,100
          .content__main2__category1__box__item10__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category1__box__item10__name__opacity
    .content__main2__category2
      .content__main2__category2__title
        新着アイテム2.2
      .content__main2__category2__next
        .content__main2__category2__next__text
          もっと見る 
        .content__main2__category2__next__icon
          = fa_icon "angle-right"
      .content__main2__category2__box
        .content__main2__category2__box__item1
          .content__main2__category2__box__item1__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item1__image__price
              ¥2,100
          .content__main2__category2__box__item1__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item1__name__opacity
        .content__main2__category2__box__item2
          .content__main2__category2__box__item2__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item2__image__price
              ¥2,100
          .content__main2__category2__box__item2__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item2__name__opacity
        .content__main2__category2__box__item3
          .content__main2__category2__box__item3__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item3__image__price
              ¥2,100
          .content__main2__category2__box__item3__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item3__name__opacity
        .content__main2__category2__box__item4
          .content__main2__category2__box__item4__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item4__image__price
              ¥2,100
          .content__main2__category2__box__item4__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item4__name__opacity
        .content__main2__category2__box__item5
          .content__main2__category2__box__item5__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item5__image__price
              ¥2,100
          .content__main2__category2__box__item5__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item5__name__opacity
        .content__main2__category2__box__item6
          .content__main2__category2__box__item6__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item6__image__price
              ¥2,100
          .content__main2__category2__box__item6__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item6__name__opacity
        .content__main2__category2__box__item7
          .content__main2__category2__box__item7__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item7__image__price
              ¥2,100
          .content__main2__category2__box__item7__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item7__name__opacity
        .content__main2__category2__box__item8
          .content__main2__category2__box__item8__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item8__image__price
              ¥2,100
          .content__main2__category2__box__item8__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item8__name__opacity
        .content__main2__category2__box__item9
          .content__main2__category2__box__item9__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item9__image__price
              ¥2,100
          .content__main2__category2__box__item9__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item9__name__opacity
        .content__main2__category2__box__item10
          .content__main2__category2__box__item10__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category2__box__item10__image__price
              ¥2,100
          .content__main2__category2__box__item10__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category2__box__item10__name__opacity
    .content__main2__category3
      .content__main2__category3__title
        新着アイテム3.2
      .content__main2__category3__next
        .content__main2__category3__next__text
          もっと見る 
        .content__main2__category3__next__icon
          = fa_icon "angle-right"
      .content__main2__category3__box
        .content__main2__category3__box__item1
          .content__main2__category3__box__item1__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item1__image__price
              ¥2,100
          .content__main2__category3__box__item1__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item1__name__opacity
        .content__main2__category3__box__item2
          .content__main2__category3__box__item2__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item2__image__price
              ¥2,100
          .content__main2__category3__box__item2__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item2__name__opacity
        .content__main2__category3__box__item3
          .content__main2__category3__box__item3__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item3__image__price
              ¥2,100
          .content__main2__category3__box__item3__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item3__name__opacity
        .content__main2__category3__box__item4
          .content__main2__category3__box__item4__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item4__image__price
              ¥2,100
          .content__main2__category3__box__item4__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item4__name__opacity
        .content__main2__category3__box__item5
          .content__main2__category3__box__item5__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item5__image__price
              ¥2,100
          .content__main2__category3__box__item5__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item5__name__opacity
        .content__main2__category3__box__item6
          .content__main2__category3__box__item6__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item6__image__price
              ¥2,100
          .content__main2__category3__box__item6__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item6__name__opacity
        .content__main2__category3__box__item7
          .content__main2__category3__box__item7__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item7__image__price
              ¥2,100
          .content__main2__category3__box__item7__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item7__name__opacity
        .content__main2__category3__box__item8
          .content__main2__category3__box__item8__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item8__image__price
              ¥2,100
          .content__main2__category3__box__item8__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item8__name__opacity
        .content__main2__category3__box__item9
          .content__main2__category3__box__item9__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item9__image__price
              ¥2,100
          .content__main2__category3__box__item9__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item9__name__opacity
        .content__main2__category3__box__item10
          .content__main2__category3__box__item10__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category3__box__item10__image__price
              ¥2,100
          .content__main2__category3__box__item10__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category3__box__item10__name__opacity
    .content__main2__category4
      .content__main2__category4__title
        新着アイテム4.2
      .content__main2__category4__next
        .content__main2__category4__next__text
          もっと見る 
        .content__main2__category4__next__icon
          = fa_icon "angle-right"
      .content__main2__category4__box
        .content__main2__category4__box__item1
          .content__main2__category4__box__item1__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item1__image__price
              ¥2,100
          .content__main2__category4__box__item1__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item1__name__opacity
        .content__main2__category4__box__item2
          .content__main2__category4__box__item2__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item2__image__price
              ¥2,100
          .content__main2__category4__box__item2__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item2__name__opacity
        .content__main2__category4__box__item3
          .content__main2__category4__box__item3__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item3__image__price
              ¥2,100
          .content__main2__category4__box__item3__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item3__name__opacity
        .content__main2__category4__box__item4
          .content__main2__category4__box__item4__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item4__image__price
              ¥2,100
          .content__main2__category4__box__item4__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item4__name__opacity
        .content__main2__category4__box__item5
          .content__main2__category4__box__item5__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item5__image__price
              ¥2,100
          .content__main2__category4__box__item5__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item5__name__opacity
        .content__main2__category4__box__item6
          .content__main2__category4__box__item6__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item6__image__price
              ¥2,100
          .content__main2__category4__box__item6__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item6__name__opacity
        .content__main2__category4__box__item7
          .content__main2__category4__box__item7__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item7__image__price
              ¥2,100
          .content__main2__category4__box__item7__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item7__name__opacity
        .content__main2__category4__box__item8
          .content__main2__category4__box__item8__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item8__image__price
              ¥2,100
          .content__main2__category4__box__item8__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item8__name__opacity
        .content__main2__category4__box__item9
          .content__main2__category4__box__item9__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item9__image__price
              ¥2,100
          .content__main2__category4__box__item9__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item9__name__opacity
        .content__main2__category4__box__item10
          .content__main2__category4__box__item10__image
            %img{src: "assets/item-interim.jpg"}
            .content__main2__category4__box__item10__image__price
              ¥2,100
          .content__main2__category4__box__item10__name
            テスト商品名-test-test-test-test-test-test-tes
            .content__main2__category4__box__item10__name__opacity